.admission-container {
  max-width: 800px;
  margin: 0px;
  padding: 30px;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.admission-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group {
  display: flex;
  /* flex-direction: column; */
}

.form-label {
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
  display: flex;
  width: 180px;
}

.form-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  display: flex;
  width: 420px;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.submit-btn {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}
