.dashboard-wrapper{
  background:#eff0ff;
  height: 100vh;
  padding: 30px;
  color: #2a1ed3b7;
  margin: -20px;
  font-family: 'Segoe UI', sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.dashboard-header h1 {
  font-size: 2rem;
  color: #2333e4;
  font-weight:bold;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: #ffffff85;
  padding: 10px 15px;
  border-radius: 99px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.search-box input {
  border: none;
  outline: none;
  margin-left: 10px;
  font-size: 1rem;
  width: 100%;
  background: transparent;
}

.searching-icon {
  color: #4f46e5;
  /* border: 2px solid; */
  width: 50px;
  height: 20px;
}

.dashboard-cards {
  display: flex;    
  gap: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.cards {
  align-items: center;
  gap: 15px;
  flex: 1;
  /* background-color: black; */
  display: flex;
  width: 100px;
  height: 100px;
  padding: 10px;
  /* border: 2px solid black; */
  /* border: 20px solid black; */
}

.cards .icon {
  font-size: 2.5rem;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
}

.cards.students .icon {
  background-color: #5a51db;
}

.cards.teachers .icon {
  background-color: #ff7f66;
}

.cards.events .icon {
  background-color: #ffc107;
}

.cards.foods .icon {
  background-color: #3f3fbd;
}

.cards p {
  margin: 0;
  color: #000000;
  font-size: 0.9rem;
  display: inline;
}

.cards h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #0015fc;
}

.calender-page{
  /* border: 2px solid black; */
  width: 400px;
  max-height: 400px;
  justify-content: space-between;
  margin: 10px;
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-box input {
  padding: 8px 12px;
  width: 250px;
  border-radius: 20px;
  /* border: 1px solid #ccc; */
  outline: none;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 10;
  padding: 10px;
  border-radius: 6px;
  margin-top: 5px;
  max-height: 250px;
  overflow-y: auto;
}

.search-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-dropdown li {
  padding: 6px 8px;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
}

.search-dropdown li:last-child {
  border-bottom: none;
}

.search-dropdown li:hover {
  background-color: #f0f0f0;
}
